body {
    width:40%;
    height:40%;
    margin: auto;
}

.inputDisplay {
    border-style: solid;
    text-align: right;
}

.inputButtons {
    display: flex;
    flex-wrap: wrap;
}
.inputButtons>* {
    flex: 1 0 25%;
}