body {
    width:40%;
    height:40%;
    margin: auto;
}
.input {
    border-style: solid;
}

.inputDisplay {
    text-align: right;
}

.inputButtons {
    display: flex;
    flex-wrap: wrap;

}
.inputButtons>* {
    flex: 25%;
}

.inputButtons>#zero {
    flex: 50%;
}

.is-pressed {
    background-color: rgb(248, 207, 131);
}

